<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @request.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @request.description %>
</p>

<p>
  <strong>Difficulty:</strong>
  <%= @request.difficulty %>
</p>

<p>
  <strong>Ball count:</strong>
  <%= @request.ball_count %>
</p>

<%= link_to 'Edit', edit_request_path(@request) %> |
<%= link_to 'Back', requests_path %>
