<%= form_for(@siteswap) do |f| %>
  <% if @siteswap.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@siteswap.errors.count, "error") %> prohibited this siteswap from being saved:</h2>

      <ul>
      <% @siteswap.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :difficulty %><br>
    <%= f.text_field :difficulty %>
  </div>
  <div class="field">
    <%= f.label :image_url %><br>
    <%= f.text_field :image_url %>
  </div>
  <div class="field">
    <%= f.label :ball_count %><br>
    <%= f.text_field :ball_count %>
  </div>


  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
