<p id="notice"><%= notice %></p>

<h1>Listing Siteswaps</h1>

<table>
  <body>
    <% @siteswaps.each do |siteswap| %>
      <%= content_tag :tr, class: cycle('list_line_odd', 'list_line_even') do %>
  <td>
    <%= image_tag(siteswap.image_url, class: 'list_image', height: 200, width: 200) %>
  </td>
        <td class='list_description'>
  <dl>
      <dt><b><%= siteswap.name %></b></dt>
      <%= truncate strip_tags(siteswap.description), length: 240 %>
      <dt>Difficulty: <%= siteswap.difficulty %></dt>
  </dl>
</td>
        <td class='list_actions'>
  <%= link_to 'Show', siteswap %><br/>
  <%= link_to 'Edit', edit_siteswap_path(siteswap) %><br/>
  <%= link_to 'Destroy', siteswap, method: :delete, 
      data: { confirm: 'Are you sure?' } %>
</td>
      <% end %>
    <% end %>
  </body>
</table>

<br>

<%= link_to 'New Siteswap', new_siteswap_path %>
